<h1>hello edit</h1>
<!--
<%= form_tag(users_path,:method=>'POST') do %>
	username: <input type="text" name="[user][username]"><br>
	password: <input type="password" name="[user][password]"><br>
	email: <input type="text" name="[user][email]"><br>
	<input type='submit' value='submit'>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>"> 
	username: <%= text_field_tag 'username' %><br>
	password: <%=password_field_tag 'password'%><br>
	email: <%= text_field_tag 'email' %><br>
	<%= submit_tag 'submit' %><br>
<%end%>
</form>
-->
<%= form_for @user do |f| %>
	username: <%= f.text_field :username %><br>
	password: <%= f.password_field :password%><br>
	email: <%=f.text_field :email ,:placeholder=>"your@email.com"%><br>
	<%= f.submit %>
<%end%>